<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>

  <!-- Fixed navbar -->

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <%= link_to "Home", home_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Create Post", new_post_path %>
        </li>
        <% if !current_user %>
           
          <li class="nav-item">
            <%= link_to "Log in", login_path %>
          </li>
        
        <% else %>
          <li class="nav-item">
            <%= link_to "Log out", logout_path, method: "delete" %>
          </li>

          <li class="nav-item btn-group" data-behavior="notifications">
            
            <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <%= fa_icon "bell" %> <span data-behavior = "unread-count"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
              <!--
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              -->
            
            </div>
          </li>


          
      <% end %>
      
      
      </ul>

      
    </div>
  </div>
</nav>
<div class="container">
  <% if current_user %>
    Hi <%= current_user.email %>
  <% end %>
    <%= yield %>
</div>
  </body>
</html>
